<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="SharedFile.Droid">
  <uses-sdk android:minSdkVersion="15" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <application android:label="SharedFile.Droid">
    <provider android:name="android.support.v4.content.FileProvider"
              android:authorities="SharedFile.Droid.fileprovider"
              android:grantUriPermissions="true"
              android:exported="false">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths" />
    </provider>

    <!--<activity
android:name=".FileSelectActivity"
android:label="File Selector" >
                      <intent-filter>
                            <action
                              android:name="android.intent.action.PICK"/>
                            <category
                              android:name="android.intent.category.DEFAULT"/>
                            <category
                              android:name="android.intent.category.OPENABLE"/>
                            <data android:mimeType="text/plain"/>
                            <data android:mimeType="image/*"/>
                       
      </intent-filter>
                 
    </activity>-->
  </application>
</manifest>